<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Track Tote"
            icon="icons/sample.gif"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.tote.views.ToteView"
            id="org.mwc.cmap.tote.views.ToteView">
      </view>
   </extension>
   
   <extension-point 
   		id="ToteCalculation" 
   		name="Tote Calculation" 
   		schema="schema/ToteCalculation.exsd"/>
   <extension
         point="org.mwc.cmap.tote.ToteCalculation">
      <calculation
            class="org.mwc.cmap.tote.calculations.SWTRangeCalc"
            name="SWT Calc"/>
   </extension>   
   <extension
         point="org.mwc.cmap.tote.ToteCalculation">
      <calculation
            class="Debrief.Tools.Tote.Calculations.rangeCalc"
            name="Deb range"/>
   </extension>   
</plugin>
