<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.NarrativeViewer2.NATViewerView"
            icon="icons/16/narrative_viewer.png"
            id="org.mwc.cmap.narrative.views.BulkNarrativeViewer"
            name="Narrative Viewer">
      </view>
   </extension>

  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           class="org.mwc.cmap.NarrativeViewer.preferences.NarrativeViewerPrefsPage"
           id="org.mwc.cmap.narratives.preferences.NarrativeViewerPrefsPage"
           name="Narrative Viewer">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.mwc.cmap.NarrativeViewer.preferences.NarrativeViewerPreferenceInitializer">
     </initializer>
  </extension>
</plugin>
