<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
    Debrief - the Open Source Maritime Analysis Application
    http://debrief.info
     
    (C) 2000-2020, Deep Blue C Technology Ltd
     
    This library is free software; you can redistribute it and/or
    modify it under the terms of the Eclipse Public License v1.0
    (http://www.eclipse.org/legal/epl-v10.html)
     
    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 -->

<plugin>

   <extension point="org.eclipse.ui.menus">
      	<menuContribution locationURI="toolbar:org.mwc.debrief.core.ChartFeatures?after=charts">
            <separator name="org.mwc.debrief.core.charts"> </separator>
            <command commandId="org.mwc.debrief.pepys.ImportDatabase" icon="icons/24/database.png"
                style="push" id="org.mwc.debrief.pepys.ImportDatabase">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="org.mwc.debrief.activeCorePlotEditor"> </reference>
                </visibleWhen>
            </command>
        </menuContribution>
     </extension>
     
     <extension point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.mwc.debrief.pepys.ImportDatabase"
             id="org.mwc.debrief.pepys.ImportDatabase"
             name="Import from Database">
       </command>
     </extension>
</plugin>
