.gwt-VerticalSplitPanel .vsplitter,.gwt-HorizontalSplitPanel .hsplitter
	{
	background: #F7F7F7 !important;
}

.spinner-buttons button {
	display: block;
}

.dp-spinner-upbutton {
	margin-top: 3px;
	background: url("img/up.gif") #FAFAFA no-repeat 3px 1px;
}

.dp-spinner-downbutton {
	margin-bottom: 3px;
	background: url("img/down.gif") #FAFAFA no-repeat 3px 1px;
}

.spinner-buttons {
	margin-left: 1px;
}

.gwt-SliderBar-shell {
	border-style: inset;
	border-width: 1px;
	background-color: white;
}

.gwt-SliderBar-line {
	border-style: outset;
	border-width: 1px;
	background-color: #EEE;
	overflow: hidden;
}

.gwt-SliderBar-knob {
	z-index: 1;
	cursor: pointer;
}

.gwt-SliderBar-label {
	font-size: 8pt;
	cursor: default;
	font-weight: bold;
}

.gwt-SliderBar-label.dimm {
	color: #CCC;
	font-weight: normal;
}

.gwt-SliderBar-tick {
	width: 1px;
	height: 5px;
	background: black;
	overflow: hidden;
}

.gwt-SliderBar-tick.dimm {
	width: 1px;
	background: #CCC;
}

.gwt-SliderBar-line-sliding {
	background-color: #A00;
	cursor: pointer;
}

.header td {
	vertical-align: middle !important;
}

.disclosurePanel-img {
	width: 16px;
	height: 16px;
}

.gwt-DisclosurePanel-open .disclosurePanel-img {
	background: url("img/collapse.png") no-repeat;
}

.gwt-DisclosurePanel-closed .disclosurePanel-img {
	background: url("img/expand.png") no-repeat;
}

fieldset {
	display: block;
	clear: both;
}

.detail-panel .gwt-Label {
	float: left;
	width: 60px;
	line-height: 30px;
}

.detail-panel input[type="text"] {
	width: 150px;
	display: block;
	margin: 5px;
}

.contextMenu {
	position: absolute;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 8pt;
	border: 1px solid gray;
	background-color: white;
	cursor: default;
}

.contextMenu .gwt-Label {
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: block;
	height: 20px;
	line-height: 20px;
	width: 120px;
	padding-left: 2px;
}

.contextMenu .gwt-Label:HOVER {
	background-image: url('img/left.png');
	background-repeat: no-repeat;
	background-position: -2px 0px;
}

.slider-widget .gwt-Label {
	width: auto;
	padding-right: 5px;
}

.aleteration-leg-forecast .course-forecast .slider-label {
	width: 115px;
}

.course-forecast .slider-label {
	width: 55px;
}

.location-forecast .slider-label {
	width: 60px;
}

.date-label {
	line-height: 30px;
}

.anchors-panel
{
	background: #818181;
}

.anchors-panel a
{
	color: #FFF;
	padding: 4px 2px;
	cursor: pointer;
}

.anchors-panel a:HOVER
{
	color: white;
}

span.clicked {
			background: #b5bdc8; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background:
				url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1YmRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjgzNDNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODMlIiBzdG9wLWNvbG9yPSIjODI4Yzk1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-linear-gradient(top, #b5bdc8 0%, #28343b 0%, #828c95 83%);
			/* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5bdc8),
				color-stop(0%, #28343b), color-stop(83%, #828c95) );
			/* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #b5bdc8 0%, #28343b 0%, #828c95 83%);
			/* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #b5bdc8 0%, #28343b 0%, #828c95 83%);
			/* Opera 11.10+ */
			background: -ms-linear-gradient(top, #b5bdc8 0%, #28343b 0%, #828c95 83%);
			/* IE10+ */
			background: linear-gradient(to bottom, #b5bdc8 0%, #28343b 0%, #828c95 83%);
			/* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#b5bdc8',
				endColorstr='#828c95', GradientType=0 ); /* IE6-8 */
		}