/ne_10m_admin_0_boundary_lines_maritime_indicator.README.html
/ne_10m_admin_0_boundary_lines_maritime_indicator.VERSION.txt
/ne_10m_admin_0_boundary_lines_maritime_indicator.dbf
/ne_10m_admin_0_boundary_lines_maritime_indicator.prj
/ne_10m_admin_0_boundary_lines_maritime_indicator.shp
/ne_10m_admin_0_boundary_lines_maritime_indicator.shx
