<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.mwc.cmap.core.RightClickSupport">
      <helper
            class="org.mwc.debrief.satc_interface.actions.CreateSolutionFromSensorData">
      </helper>
   </extension>
   <extension
         point="org.mwc.cmap.core.RightClickSupport">
      <helper
            class="org.mwc.debrief.satc_interface.actions.MergeLegs">
      </helper>
   </extension>
   <extension
         point="org.mwc.debrief.core.XMLLayerHandler">
      <helper
            class="org.mwc.debrief.satc_interface.readerwriter.SATCHandler">
      </helper>
   </extension>

</plugin>
