/ne_50m_antarctic_ice_shelves_lines.README.html
/ne_50m_antarctic_ice_shelves_lines.VERSION.txt
/ne_50m_antarctic_ice_shelves_lines.dbf
/ne_50m_antarctic_ice_shelves_lines.prj
/ne_50m_antarctic_ice_shelves_lines.shp
/ne_50m_antarctic_ice_shelves_lines.shx
