<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.debrief.sensorfusion.views.SensorFusionView"
            icon="icons/merge.gif"
            id="org.mwc.debrief.SensorFusion"
            name="Sensor Fusion Workshop">
      </view>
   </extension>
</plugin>
