language: java
dist: bionic
jdk: openjdk11
sudo: required
cache:
  directories:
    - $HOME/.m2
before-install:
  - sudo apt-get install -y libsqlite3-mod-spatialite
  - sudo apt-get install libpq-dev python-dev
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update
  - sudo apt-get install postgis
install:
- mvn --version
addons:
  apt:
    packages:
    - intltool
    - libgsf-1-dev
    - uuid-runtime
    - libglib2.0-dev
    - libxml2-dev
    - unzip
    - spatialite-bin
    - libgdal20
    - gcab
    - libgcab-1.0-0
    - libgcab-dev
notifications:
  slack: debrief-devs:GF1nQSqn2eozH3wQtyuPLAlG
services:
- xvfb
before_script:
- export DISPLAY=:99
# - sh -e /etc/init.d/xvfb start
- sleep 3
# modify Debrief feature to include win-64 subdirectory
- echo "root.win32.win32.x86_64 = win-64" >> org.mwc.debrief.combined.feature/build.properties
# get a 64-bit windows JRE
- wget -P dest https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.5%2B10/OpenJDK11U-jre_x64_windows_hotspot_11.0.5_10.zip
# unpack it
- cd dest
- unzip OpenJD*.zip
# rename and move it
- mv *-jre jre
- mkdir ../org.mwc.debrief.combined.feature/win-64
# move it to the target folder
- mv jre ../org.mwc.debrief.combined.feature/win-64/jre
# move back to top level
- cd ../
script: mvn clean verify -U -B -fae
after_failure:
- ls org.mwc.debrief.ui_test
- ls org.mwc.debrief.ui_test/target
- zip -r org.mwc.debrief.ui_test/target/results.zip org.mwc.debrief.ui_test/target/results
- curl -u ianmayo:chunkchunk -T org.mwc.debrief.ui_test/target/results.zip chunk.io
- more org.mwc.debrief.test2/target/work/data/.metadata/.log
- curl -u ianmayo:chunkchunk -T org.mwc.debrief.test2/target/work/data/.metadata/.log chunk.io
before_deploy:
- ls /home/travis/build/debrief/debrief/org.mwc.debrief.product/target/products/
- ./install-msitools.sh
- ./contribs/msi/make_x64msi.sh
deploy:
  provider: releases
  skip_cleanup: true
  edge: true
  api_key:
    secure: Oqy+moovC3HQ0dbvWHHNOVCsqzq7vpTjlvtFVqqTiMJaCa4OUiCXOuUKr8PXtANCx6yZxrtgYKUxIDX5gpAtTWq3ylPaoedmkx2jSlkf5e4AgT4wLJcstWrwKYyK3NQjc45g3WqRCmsqsrnVQCREwD/Vq09vCt4+nZYGB5FPBmU=
  file:
    - /home/travis/build/debrief/debrief/org.mwc.debrief.product/target/products/DebriefNG-Linux64Bit.zip
    - /home/travis/build/debrief/debrief/org.mwc.debrief.product/target/products/DebriefNG-MacOSX64Bit.zip
    - /home/travis/build/debrief/debrief/org.mwc.debrief.product/target/products/DebriefNG-Windows32Bit.zip
    - /home/travis/build/debrief/debrief/org.mwc.debrief.product/target/products/DebriefNG-Windows64Bit.zip
    - /home/travis/build/debrief/debrief/org.mwc.debrief.product/target/products/P2_Repository.zip
    - /home/travis/build/debrief/debrief/org.mwc.debrief.legacy/dist/DebriefLegacy*.jar
    - /home/travis/build/debrief/debrief/org.mwc.debrief.lite/dist/debrief-lite*.zip
    - /home/travis/build/debrief/debrief/org.mwc.debrief.product/target/products/DebriefNG-Windows64Bit.msi
  on:
     tags: true
     all_branches: true
