<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Layer Manager"
            icon="icons/ch_callees_002.gif"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.layer_manager.views.LayerManagerView"
            id="org.mwc.cmap.layer_manager.views.LayerManagerView">
      </view>
   </extension>

</plugin>
