<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ease.modules">
      <module
            class="org.mwc.debrief.scripting.wrappers.DebriefObjects"
            icon="icons/debrief_icon.png"
            id="org.mwc.debrief.scripting.module"
            name="Debrief"
            visible="true">
      </module>
   </extension>

</plugin>
