/ne_50m_antarctic_ice_shelves_polys.README.html
/ne_50m_antarctic_ice_shelves_polys.VERSION.txt
/ne_50m_antarctic_ice_shelves_polys.dbf
/ne_50m_antarctic_ice_shelves_polys.prj
/ne_50m_antarctic_ice_shelves_polys.shp
/ne_50m_antarctic_ice_shelves_polys.shx
