<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.mwc.debrief.help"
         point="org.eclipse.help.toc">
      <toc
            file="html/legacy/toc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.mwc.debrief.help.cheats"
            name="Debrief"/>
      <category
            id="org.mwc.debrief.help.cheat_satc"
            name="Semi Automatic Track Construction"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_started"
            name="Getting started"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_viewing"
            name="Viewing plots"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_sensor"
            name="Sensor data"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_s2r"
            name="S2R Operations"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_narratives"
            name="Narratives"
            parentCategory="org.mwc.debrief.help.cheats"/>                                    
      <category
            id="org.mwc.debrief.help.trackRecon"
            name="Track Reconstruction"
            parentCategory="org.mwc.debrief.help.cheats"/>                                         
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_started"
            contentFile="cheat_sheets/GettingStarted/FindingYourData.xml"
            id="org.mwc.debrief.help.started.existing_data"
            name="Linking to existing datafiles"/>   
            <!--  note, we use the generate_project id when we manually open
            the cheat sheet in the PlotEditor class -->                                    
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_started"
            contentFile="cheat_sheets/GettingStarted/GenerateProject.xml"
            id="org.mwc.debrief.help.started.generate_project"
            name="Generating a project"/>                 
                                   
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_started"
            composite="true"
            contentFile="cheat_sheets/GettingStarted/intro_composite.xml"
            id="org.mwc.debrief.help.started.tutorial"
            name="Getting started with Debrief tutorial"/>                     
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_started"
            composite="true"
            contentFile="cheat_sheets/analysis/analysis_composite.xml"
            id="org.mwc.debrief.help.cheatsheet.analysis.composite"
            name="Starting to analyse data in Debrief">
      </cheatsheet>   
                   
            
     <!-- now for the formatting bits -->  
                                         
     <!-- and for the analysis bits -->             
            
      <!-- right, now the sensor bits -->          
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_sensor"
            contentFile="cheat_sheets/sensor/AnalysingSensorData.xml"
            id="org.mwc.debrief.help.sensor.analysing"
            name="Analysing sensor data in Debrief"/>            

      <!-- and the narrative bits -->          
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_narratives"
            contentFile="cheat_sheets/narratives/AnalysingNarrativeData.xml"
            id="org.mwc.debrief.help.narrativs.analysing"
            name="Analysing narrative data in Debrief"/>            
        

      <!-- and the S2R bits -->
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_s2r"
            composite="true"
            contentFile="$nl$/cheat_sheets/S2R/s2r_composite.xml"
            id="org.mwc.debrief.help.cheatsheet.s2r.composite"
            name="Single Sided Reconstruction in Debrief">
      </cheatsheet>   
      <!-- and the SATC bits -->
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_satc"
            composite="true"
            contentFile="cheat_sheets/satc/satc_composite.xml"
            id="org.mwc.debrief.help.cheatsheet.satc.composite"
            name="A walkthrough of Debrief's Auto-TMA capabilities"/>                       
</extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContexts.xml"  plugin="org.mwc.debrief.help"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
          <menuContribution locationURI="menu:help?before=about"> 
          <command
              commandId="org.mwc.debrief.core.operations.Acknowledgements"
              style="push"
              id="org.mwc.debrief.core.operations.Acknowledgements">
          </command>
              </menuContribution>
   </extension>
   <extension
          point="org.eclipse.ui.commands">
    <command
             defaultHandler="org.mwc.debrief.help.action.AcknowledgementHandler"
             id="org.mwc.debrief.core.operations.Acknowledgements"
             name="Acknowledgements">
       </command>
    </extension>
</plugin>
