<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Debrief - the Open Source Maritime Analysis Application
    http://debrief.info
     
    (C) 2000-2020, Deep Blue C Technology Ltd
     
    This library is free software; you can redistribute it and/or
    modify it under the terms of the Eclipse Public License v1.0
    (http://www.eclipse.org/legal/epl-v10.html)
     
    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 -->

<plugin>

   <extension
         id="org.mwc.debrief.help"
         point="org.eclipse.help.toc">
      <toc
            file="html/legacy/toc.xml"
            primary="true">
      </toc>
   </extension>

   <extension
         id="org.mwc.debrief.javadoc"
         point="org.eclipse.help.toc">
      <toc
            file="javadoc_toc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContexts.xml"  plugin="org.mwc.debrief.help"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
          <menuContribution locationURI="menu:help?before=about"> 
          <command
              commandId="org.mwc.debrief.core.operations.Acknowledgements"
              style="push"
              id="org.mwc.debrief.core.operations.Acknowledgements">
          </command>
              </menuContribution>
   </extension>
   <extension
          point="org.eclipse.ui.commands">
    <command
             defaultHandler="org.mwc.debrief.help.action.AcknowledgementHandler"
             id="org.mwc.debrief.core.operations.Acknowledgements"
             name="Acknowledgements">
       </command>
    </extension>
</plugin>
