<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.mwc.debrief.help"
         point="org.eclipse.help.toc">
      <toc
            file="html/legacy/toc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContexts.xml"  plugin="org.mwc.debrief.help"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
          <menuContribution locationURI="menu:help?before=about"> 
          <command
              commandId="org.mwc.debrief.core.operations.Acknowledgements"
              style="push"
              id="org.mwc.debrief.core.operations.Acknowledgements">
          </command>
              </menuContribution>
   </extension>
   <extension
          point="org.eclipse.ui.commands">
    <command
             defaultHandler="org.mwc.debrief.help.action.AcknowledgementHandler"
             id="org.mwc.debrief.core.operations.Acknowledgements"
             name="Acknowledgements">
       </command>
    </extension>
</plugin>
