<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <view
            name="Narrative Viewer (legacy)"
            icon="icons/list_comments.gif"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.narrative.views.NarrativeView"
            id="org.mwc.cmap.narrative.views.NarrativeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.mwc.cmap.Viewers.views.NarrativeView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
