<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.timebar.views.TimeBarView"
            icon="icons/sample.gif"
            id="org.mwc.cmap.timebar.views.TimeBarView"
            name="Time Bar"
            restorable="true">
      </view>
   </extension>

</plugin>
