<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="MultiPath analysis"
            icon="icons/MultiPath.png"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.debrief.multipath.views.MultiPathView"
            id="org.mwc.debrief.MultiPath">
      </view>
   </extension>
</plugin>
