<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2016 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="org.eclipse.rcptt.launching.ext.q7runtime">
      <q7runtime
            kind="runtime"
            path="platform:///plugin/org.eclipse.rcptt.updates.runtime.e4x/q7/"
            version="[4.2,5)">
      </q7runtime>
   </extension>
</plugin>
