/ne_50m_geography_regions_polys.README.html
/ne_50m_geography_regions_polys.VERSION.txt
/ne_50m_geography_regions_polys.dbf
/ne_50m_geography_regions_polys.prj
/ne_50m_geography_regions_polys.shp
/ne_50m_geography_regions_polys.shx
