<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Debrief SATC"
            id="com.planetmayo.debrief.satc">
      </category>
      <view
            name="Mock Maintain Contributions"
            icon="icons/sample.gif"
            category="com.planetmayo.debrief.satc"
            class="com.planetmayo.debrief.satc_rcp.views.MockMaintainContributionsView"
            id="com.planetmayo.debrief.satc_rcp.views.MockMaintainContributionsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Debrief SATC"
            id="com.planetmayo.debrief.satc">
      </category>
      <view
            name="Maintain Contributions"
            icon="icons/sample.gif"
            category="com.planetmayo.debrief.satc"
            class="com.planetmayo.debrief.satc_rcp.views.MaintainContributionsView"
            id="com.planetmayo.debrief.satc_rcp.views.MaintainContributionsView">
      </view>
   </extension>
         <extension
         point="org.eclipse.ui.views">
      <category
            name="Debrief SATC"
            id="com.planetmayo.debrief.satc">
      </category>
      <view
            name="Spatial View"
            icon="icons/sample.gif"
            category="com.planetmayo.debrief.satc"
            class="com.planetmayo.debrief.satc_rcp.views.SpatialView"
            id="com.planetmayo.debrief.satc_rcp.views.SpatialView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.views">
      <category
            name="Debrief SATC"
            id="com.planetmayo.debrief.satc">
      </category>
      <view
            name="Track States"
            icon="icons/sample.gif"
            category="com.planetmayo.debrief.satc"
            class="com.planetmayo.debrief.satc_rcp.views.TrackStatesView"
            id="com.planetmayo.debrief.satc_rcp.views.TrackStatesView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.views">
      <category
            name="Debrief SATC"
            id="com.planetmayo.debrief.satc">
      </category>
      <view
            name="Test Harness"
            icon="icons/sample.gif"
            category="com.planetmayo.debrief.satc"
            class="com.planetmayo.debrief.satc_rcp.views.TestHarnessView"
            id="com.planetmayo.debrief.satc_rcp.views.TestHarnessView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Debrief SATC"
            id="com.planetmayo.debrief.satc">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="com.planetmayo.debrief.satc"
            class="com.planetmayo.debrief.satc_rcp.views.SampleView"
            id="com.planetmayo.debrief.satc_rcp.views.SampleView">
      </view>
   </extension>   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.planetmayo.debrief.satc.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
