/ne_50m_geography_regions_points.README.html
/ne_50m_geography_regions_points.VERSION.txt
/ne_50m_geography_regions_points.dbf
/ne_50m_geography_regions_points.prj
/ne_50m_geography_regions_points.shp
/ne_50m_geography_regions_points.shx
/ne_50m_geography_regions_points.qix
