/ne_50m_populated_places_simple.README.html
/ne_50m_populated_places_simple.VERSION.txt
/ne_50m_populated_places_simple.dbf
/ne_50m_populated_places_simple.prj
/ne_50m_populated_places_simple.shp
/ne_50m_populated_places_simple.shx
/ne_50m_populated_places_simple.qix
