<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
		point="org.eclipse.ui.preferencePages">
        <page
        	category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
        	class="org.mwc.debrief.dis.ui.preferences.DisPrefs"
            id="org.mwc.debrief.dis.preferences.DisPrefs"
            name="DIS Preferences">
        </page>
    </extension>
    
    <extension
         point="org.eclipse.ui.views">
      <view
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.debrief.dis.ui.views.DisListenerView"
            icon="icons/16px/dis_icon.png"
            id="org.mwc.debrief.dis.views.DisListenerView"
            name="DIS Listener" restorable="true">
      </view>
   </extension>
    
</plugin>
