<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Debrief - the Open Source Maritime Analysis Application
    http://debrief.info
     
    (C) 2000-2020, Deep Blue C Technology Ltd
     
    This library is free software; you can redistribute it and/or
    modify it under the terms of the Eclipse Public License v1.0
    (http://www.eclipse.org/legal/epl-v10.html)
     
    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 -->

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Vessel Monitor"
            icon="icons/gears_view.png"
            category="org.mwc.asset.core.simulation.category"
            class="org.mwc.asset.vesselmonitor.views.VesselMonitor"
            id="org.mwc.asset.VesselMonitor">
      </view>
   </extension>

</plugin>
