<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="GT Test View"
            icon="icons/sample.gif"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.gt2plot.views.ViewTest"
            id="org.mwc.cmap.gt2plot.views.SampleView">
      </view>
   </extension>

</plugin>
