<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/org.mwc.asset.legacy/schemas/ASSET.xsd"
            class="ASSET.ASSETPackage"
            genModel="model/ASSET.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="asset"
            class="ASSET.util.ASSETResourceFactoryImpl"/>
   </extension>

</plugin>
