/ne_10m_geography_regions_polys.README.html
/ne_10m_geography_regions_polys.VERSION.txt
/ne_10m_geography_regions_polys.dbf
/ne_10m_geography_regions_polys.prj
/ne_10m_geography_regions_polys.qix
/ne_10m_geography_regions_polys.shp
/ne_10m_geography_regions_polys.shx
