<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.mwc.asset.help"
         point="org.eclipse.help.toc">
      <toc
            file="html/legacy/toc.xml"
            primary="true">
      </toc>
      <toc
            file="html/schemaDoc.xml"
            primary="true">
      </toc>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.mwc.asset.help.category128666804"
            name="ASSET">
      </category>
      <cheatsheet
            category="org.mwc.asset.help.category128666804"
            composite="true"
            contentFile="cheat_sheets/tutorial/org.mwc.asset.tutorial.xml"
            id="org.mwc.asset.help.cheatsheet406552611"
            name="Getting started with ASSET">
         <description>
            A series of worked examples that help you to configure ASSET, create some data files, and run the simulations.
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.mwc.asset.help.category128666804"
            composite="false"
            contentFile="cheat_sheets/tutorial/org.mwc.asset.tutorial.config_env.xml"
            id="org.mwc.asset.help.cheatsheet331235578"
            name="Configuring ASSET">
         <description>
            How to prepare your ASSET installation for editing and running scenarios
         </description>
      </cheatsheet>
   </extension>
</plugin>
