<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.startup">
		<startup class="org.debrief.limpet_integration.DebriefIntegrationActivator" />
	</extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.debrief.limpet_integration.actionSet"
            label="Limpet Menu Set"
            visible="true">
         <menu
               id="TempLimpetMenu"
               label="&amp;Limpet">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.debrief.limpet_integration.actions.LimpetTestAction"
               icon="icons/sample.gif"
               id="org.debrief.limpet_integration.actions.SampleAction"
               label="&amp;Limpet Action"
               menubarPath="TempLimpetMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Limpet Test action">
         </action>
      </actionSet>
   </extension>

</plugin>
