<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Network datastore"
            icon="icons/database.png"
            category="org.mwc.debrief.GNDManager"
            class="org.mwc.debrief.gndmanager.views.GNDManager"
            id="org.mwc.debrief.gndmanager.views.GNDManager">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
     <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.mwc.debrief.gndmanager.preferences.GNDPrefsPage"
           id="org.mwc.debrief.gndmanager.preferences.GNDPrefsPage"
           category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           name="GND Data storage"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="org.mwc.debrief.gndmanager.preferences.GNDPreferenceInitialiser"/>
  </extension>

</plugin>
