<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.mwc.debrief.GNDManager">
      </category>
      <view
            name="Network datastore"
            icon="icons/sample.gif"
            category="org.mwc.debrief.GNDManager"
            class="org.mwc.debrief.gndmanager.views.GNDManager"
            id="org.mwc.debrief.gndmanager.views.GNDManager">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
