/* Created by XMetaL style generator. ©2004 Blast Radius. All rights reserved.*/


/* XMetaL styles */
$DOCUMENT {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 6px;
	margin-left: 4px;
	margin-bottom: 16px;
	padding-top:6px;
	padding-left:4px;
	text-align: left;
	font-size: 12px;
}

$MARKSEC {
	display: block;
	color: black;
	white-space: pre;
	font-family: monospace;
	font-weight: normal;
	font-size: 12px;
}

$COMMENT {
	display: inline;
	color: #800000;
	white-space: pre;
	background-color: #E0E0E0;
	text-align: left;
}

$PROCINS {
	background-color: #E0E0E0;
	text-align: left;
	font-style: italic;
	color: #00008B;
}


/* Schema namespaces */
@namespace xsd	url(http://www.w3.org/2001/XMLSchema);



/* Paragraphs styles */
text {
display: block;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
}


/* Headings styles */
title {
	font-size: 14px;
	display: block;
	font-family: Arial, sans-serif;
	background-color: #F5F5F5;
	margin-bottom: 8px;
	margin-top: 12px;
	text-align: left;
	color: #003499;
	padding-top: 12px;
	padding-left: 12px;
	font-weight: bold;
}

page>title /* H2 */ {
	display: block;
	font-family: Arial, sans-serif;
	font-size: 22px;
	text-align: left;
	color:  #003499;
	background-color: #F5F5F5;
	font-weight: bold;
	padding-left: 12px;
	margin-top: 18px;
	padding-top:10px;
	margin-bottom: 12px;
}


/* Emphasis styles */

/* Toggle elements styles (bold, italic, underline) */

/* URLs styles */

/* Images styles */
img {
	display: block;
}


/* Lists styles */

/* XHTML headings styles */

/* Tables headings styles */

/* Lists headings styles */

/* Address elements styles */

/* Names styles */


/* Other styles */

introContent {
	display: block;
}

page {
	display: block;
}

group {
	display: block;
}

head {
	display: inline;
}

link {
	display: block;
}

html {
	display: block;
}

include {
	display: inline;
}

anchor {
	display: inline;
}

extensionContent {
	display: block;
}

contentProvider {
	display: block;
}

