<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Debrief - the Open Source Maritime Analysis Application
    http://debrief.info
     
    (C) 2000-2020, Deep Blue C Technology Ltd
     
    This library is free software; you can redistribute it and/or
    modify it under the terms of the Eclipse Public License v1.0
    (http://www.eclipse.org/legal/epl-v10.html)
     
    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 -->

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Chart overview"
            icon="icons/16/etopo.png"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.overview.views.ChartOverview"
            id="org.mwc.cmap.overview.views.ChartOverview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.mwc.cmap.overview.views.ChartOverview">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
