
body {
	background-color: #FFFFFF;
	margin: 6px;
}

body, td, th {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	color: #000000;
}

a {
	color: blue;
}
a:visited {
	color: #000099;
}

pre, code, tt {
	font-size: 10pt;
	font-family: Courier New, sans-serif;
}

h1, h2, h3, .TableHeadingColor font {
	font-size: 105%;
}

.TableHeadingColor {
	background: #CCCCFF;
}
.TableSubHeadingColor {
	background: #EEEEFF;
}
.TableRowColor {
	background: #FFFFFF;
}

.FrameTitleFont {
	font-size: 105%;
}
.FrameHeadingFont {
	font-size: 105%;
	font-weight: bold;
}
.FrameItemFont {
	font-size: 100%;
}

.NavBarCell1 {
	background-color: #EEEEFF;
}
.NavBarCell1Rev {
	background-color: #00008B;
}
.NavBarFont1 {
	color: #000000;
}
.NavBarFont1Rev {
	color: #FFFFFF;
}

.NavBarCell2, .NavBarCell3 {
	background-color: #FFFFFF;
}
