<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.mwc.cmap.TimeController"
   name="Time Controller Plug-in"
   version="1.0.11"
   provider-name="MWC"
   class="org.mwc.cmap.TimeController.TimeControllerPlugin">

   <runtime>
      <library name="TimeController.jar">
         <export name="org.mwc.cmap.TimeController.views.*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.mwc.cmap.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.mwc.cmap.legacy"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.mwc.debrief.core"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.mwc.cmap.plotViewer"/>
      <import plugin="org.mwc.debrief.legacy"/>
   </requires>

  <extension
         point="org.eclipse.ui.views">
      <view
            name="Time Controller"
            icon="icons/TrafficGreen.gif"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.TimeController.views.TimeController"
            id="org.mwc.cmap.TimeController.views.TimeController">
      </view>
   </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.mwc.cmap.TimeController.preferences.TimeControllerPrefsPage"
           id="org.mwc.cmap.TimeController.preferences.TimeControllerPrefsPage"
           name="Time Controller"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="org.mwc.cmap.TimeController.preferences.PreferenceInitializer"/>
  </extension>
  
   <extension point="org.eclipse.help.contexts">
      <contexts plugin="org.mwc.debrief.help" file="HelpContexts.xml"/>
   </extension>  
</plugin>
