<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.mwc.cmap.TimeController"
   name="Time Controller Plug-in"
   version="1.0.40"
   provider-name="MWC"
   class="org.mwc.cmap.TimeController.TimeControllerPlugin">

   <runtime>
      <library name="TimeController.jar">
         <export name="org.mwc.cmap.TimeController.views.*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.mwc.cmap.legacy"/>
      <import plugin="org.mwc.debrief.legacy"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.mwc.cmap.core"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.mwc.debrief.core"/>
      <import plugin="org.mwc.cmap.plotViewer"/>
   </requires>

  <extension
         point="org.eclipse.ui.views">
      <view
            name="Time Controller"
            icon="icons/clock.png"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.TimeController.views.TimeController"
            id="org.mwc.cmap.TimeController.views.TimeController">
      </view>
   </extension>
</plugin>
