<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.mwc.cmap.media.perspective.PlanetmayoPerspective"
            icon="icons/video_camera.gif"
            id="org.mwc.cmap.media.perspective.PlanetmayoPerspective"
            name="Media player">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Media Player"
            id="org.mwc.cmap.media">
      </category>
      <view
            name="Video Player"
            icon="icons/player.gif"
            category="org.mwc.cmap.media"
            class="org.mwc.cmap.media.views.VideoPlayerView"
            id="org.mwc.cmap.media.views.VideoPlayerView"            
            allowMultiple="true">
            
      </view>
      <view
            name="Images"
            icon="icons/images16.gif"
            category="org.mwc.cmap.media"
            class="org.mwc.cmap.media.views.ImagesView"
            id="org.mwc.cmap.media.views.ImagesView"            
            allowMultiple="true">         
      </view>
      <view
            name="Test-harness View"
            icon="icons/openbrwsr.gif"
            category="org.mwc.cmap.media"
            class="org.mwc.cmap.media.views.TestHarnessView"
            id="org.mwc.cmap.media.views.TestHarnessView">            
      </view>
   </extension>   
   <!--<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.mwc.cmap.media.perspective.PlanetmayoPerspective">
         <view
               relative="org.eclipse.ui.editorss"
               relationship="left"
               standalone="true"
               minimized="false"
               id="org.mwc.cmap.media.views.VideoPlayerView">
         </view>
         <view
               relative="org.eclipse.ui.editorss"
               relationship="left"
               standalone="true"
               minimized="false"
               id="org.mwc.cmap.media.views.TestHarnessView">
         </view>
         <view
               relative="org.eclipse.ui.editorss"
               relationship="left"
               standalone="true"
               minimized="false"
               id="org.mwc.cmap.media.views.ImagesView">
         </view>         
      </perspectiveExtension>
   </extension> -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <!--
   <extension point="org.eclipse.ui.activities">
     <activity id="org.mwc.cmap.media.forbiddenViewActivityId" name="Forbidden View Activity" /> 
     <activityPatternBinding
         activityId="org.mwc.cmap.media.forbiddenViewActivityId"
         isEqualityPattern="true"
         pattern="org.mwc.cmap.media/org.mwc.cmap.media.views.VideoPlayerView">
     </activityPatternBinding>
     <activityPatternBinding
         activityId="org.mwc.cmap.media.forbiddenViewActivityId"
         isEqualityPattern="true"
         pattern="org.mwc.cmap.media/org.mwc.cmap.media.views.TestHarnessView">
     </activityPatternBinding>
     <activityPatternBinding
         activityId="org.mwc.cmap.media.forbiddenViewActivityId"
         isEqualityPattern="true"
         pattern="org.mwc.cmap.media/org.mwc.cmap.media.views.ImagesView">
     </activityPatternBinding>
   </extension>
   -->
   
   <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions"> 
            <menu id="org.mwc.cmap.media.menu" label="Media"/>
        </menuContribution>
        <menuContribution locationURI="menu:org.mwc.cmap.media.menu?after=additions"> 
            <command
              commandId="org.mwc.cmap.media.actions.NewVideoPlayerAction"
              icon="icons/16/player.png"
              style="push"
              id="org.mwc.cmap.media.actions.NewVideoPlayerAction">
            </command>
            <command
              commandId="org.mwc.cmap.media.actions.NewImagesViewAction"
              icon="icons/16/images16.png"
              style="push"
              id="org.mwc.cmap.media.actions.NewImagesViewAction">
            </command>
            <command
              commandId="org.mwc.cmap.media.actions.OpenTestHarnessAction"
              icon="icons/16/openbrwsr.png"
              style="push"
              
              id="org.mwc.cmap.media.actions.OpenTestHarnessAction">
            </command>
        </menuContribution>
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions"> 
            <command
              commandId="org.mwc.cmap.media.actions.OpenVideoPlayerAction"
              icon="icons/16/player.png"
              style="push"
              id="org.mwc.cmap.media.actions.OpenVideoPlayerAction">
              <visibleWhen>
					<with
						variable="selection">
						<iterate ifEmpty="false">
						  <and>
							<adapt type="org.eclipse.core.resources.IResource">
							<or>
								<test property="org.eclipse.core.resources.extension" value="avi" forcePluginActivation="true"/>
								<test property="org.eclipse.core.resources.extension" value="vob" forcePluginActivation="true"/>
								<test property="org.eclipse.core.resources.extension" value="mp4" forcePluginActivation="true"/>
								<test property="org.eclipse.core.resources.extension" value="mov" forcePluginActivation="true"/>
								<test property="org.eclipse.core.resources.extension" value="mpeg" forcePluginActivation="true"/>
								<test property="org.eclipse.core.resources.extension" value="flv" forcePluginActivation="true"/>
								<test property="org.eclipse.core.resources.extension" value="mp3" forcePluginActivation="true"/>
								<test property="org.eclipse.core.resources.extension" value="wma" forcePluginActivation="true"/>
							</or>
							</adapt>
						  </and>
						</iterate>
						<count value="1"/>
					</with>
			  </visibleWhen>
            </command>
            <command
              commandId="org.mwc.cmap.media.actions.OpenImagesViewAction"
              icon="icons/16/images16.png"
              style="push"
              id="org.mwc.cmap.media.actions.OpenImagesViewAction">
              <visibleWhen>
					<with
						variable="selection">
						<iterate ifEmpty="false">
						  <and>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						  </and>
						</iterate>
						<count value="1"/>
					</with>
			  </visibleWhen>
            </command>
         </menuContribution>      
   </extension>
   
   <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.mwc.cmap.media.actions.OpenVideoPlayerAction"
             id="org.mwc.cmap.media.actions.OpenVideoPlayerAction"
             name="View in media player">
       </command>
       <command
             defaultHandler="org.mwc.cmap.media.actions.OpenImagesViewAction"
             id="org.mwc.cmap.media.actions.OpenImagesViewAction"
             name="Load in image viewer">
       </command>
       <command
             defaultHandler="org.mwc.cmap.media.actions.NewVideoPlayerAction"
             id="org.mwc.cmap.media.actions.NewVideoPlayerAction"
             name="Video Player">
       </command>
       <command
             defaultHandler="org.mwc.cmap.media.actions.NewImagesViewAction"
             id="org.mwc.cmap.media.actions.NewImagesViewAction"
             name="Images">
       </command>
       <command
             defaultHandler="org.mwc.cmap.media.actions.OpenTestHarnessAction"
             id="org.mwc.cmap.media.actions.OpenTestHarnessAction"
             name="Test-harness View">
       </command>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Planetmayo"
            visible="true"
            id="org.mwc.cmap.media.actionSet">
         <menu
               label="Media"
               id="org.mwc.cmap.media.menu">
            <separator
                  name="org.mwc.cmap.media.group">
            </separator>
         </menu>
         <action
               label="&amp;Video Player"
               icon="icons/sample.gif"
               class="org.mwc.cmap.media.actions.NewVideoPlayerAction"
               tooltip="Create video player"
               menubarPath="org.mwc.cmap.media.menu/org.mwc.cmap.media.group"
               toolbarPath="org.mwc.cmap.media.group"
               id="org.mwc.cmap.media.actions.NewVideoPlayerAction">
         </action>
         <action
               label="&amp;Images"
               icon="icons/sample.gif"
               class="org.mwc.cmap.media.actions.NewImagesViewAction"
               tooltip="Create images view"
               menubarPath="org.mwc.cmap.media.menu/org.mwc.cmap.media.group"
               toolbarPath="org.mwc.cmap.media.group"
               id="org.mwc.cmap.media.actions.NewImagesViewAction">
         </action>         
         <action
               label="&amp;Test-harness View"
               icon="icons/sample.gif"
               class="org.mwc.cmap.media.actions.OpenTestHarnessAction"
               tooltip="Test-harness View"
               menubarPath="org.mwc.cmap.media.menu/org.mwc.cmap.media.group"
               toolbarPath="org.mwc.cmap.media.group"
               id="org.mwc.cmap.media.actions.OpenTestHarnessAction">
         </action>         
      </actionSet>
   </extension>
   -->   

</plugin>
