<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="GND Demonstrator"
            icon="icons/sample.gif"
            category="org.mwc.debrief.core.DebriefCategory"
            class="org.mwc.gnd.demonstrator.views.GndDemonstrator"
            id="org.mwc.gnd.demonstrator.views.GndDemonstrator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.mwc.gnd.demonstrator.views.GndDemonstrator">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
