<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.mwc.debrief.core"
   name="Debrief Core"
   version="1.0.4"
   provider-name="MWC"
   class="org.mwc.debrief.core.CorePlugin">

   <runtime>
      <library name="debrief_core.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Debrief Plot Editor"
            extensions="xml,rep"
            icon="icons/sample.gif"
            class="org.mwc.debrief.core.editors.PlotEditor"
            id="org.mwc.debrief.core.editors.PlotEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.mwc.debrief.core.DebriefCategory"
            name="Debrief"/>
   </extension>   
  
   
   <requires>
      <import plugin="org.mwc.cmap.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.mwc.cmap.plotViewer"/>
      <import plugin="org.mwc.cmap.legacy"/>
      <import plugin="org.mwc.debrief.legacy"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      
   </requires>
   <extension-point id="DebriefPlotLoader" 
   		name="Plot Loader" schema="schema/DebriefPlotLoader.exsd"/>
   <extension
         point="org.mwc.debrief.core.DebriefPlotLoader">
      <loader
            class="org.mwc.debrief.core.loaders.ReplayLoader"
            extensions="rep"
            name="ReplayLoader"/>
   </extension>
   <extension
         point="org.mwc.debrief.core.DebriefPlotLoader">
      <loader
            class="org.mwc.debrief.core.loaders.XMLLoader"
            extensions="xml"
            name="Debrief XML Loader"/>
   </extension>
   <extension
         id="org.mwc.debrief.core.editors.DebriefActions"
         name="DebriefActions"
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.mwc.debrief.core.editors.PlotEditorActions"
            targetID="org.mwc.debrief.core.editors.PlotEditor">
         <menu
               id="org.mwc.debrief.core.EditorActions"
               label="&amp;Debrief"
               path="additions">
            <groupMarker name="view"/>
            <separator name="sep1"/>
            <groupMarker name="operation"/>
         </menu>
         <action
               class="org.mwc.cmap.plotViewer.actions.FitToWindow"
               icon="icons/fit_to_win.gif"
               id="org.mwc.debrief.core.FitToWindow"
               label="&amp;Fit to window"
               menubarPath="org.mwc.debrief.core.EditorActions/view"
               style="push"
               toolbarPath="org.mwc.debrief.core.EditorActions/view"/>
         <action
               class="org.mwc.cmap.plotViewer.actions.ZoomOut"
               icon="icons/zoomout.gif"
               id="org.mwc.debrief.core.ZoomOut"
               label="Zoom &amp;Out"
               menubarPath="org.mwc.debrief.core.EditorActions/view"
               style="push"
               toolbarPath="org.mwc.debrief.core.EditorActions/view"/>
               
             
         <action
               class="org.mwc.cmap.plotViewer.actions.Redraw"
               icon="icons/repaint.gif"
               id="org.mwc.debrief.core.Redraw"
               label="&amp;Redraw"
               menubarPath="org.mwc.debrief.core.EditorActions/view"
               style="push"
               toolbarPath="org.mwc.debrief.core.EditorActions/view"/>
               
         <action
               class="org.mwc.cmap.plotViewer.actions.ExportWMF"
               icon="icons/write_wmf.gif"
               id="org.mwc.debrief.core.ExportWMF"
               label="&amp;Export WMF"
               menubarPath="file/additions"
               style="push" />                 
      </editorContribution>
   </extension>
</plugin>
