<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.mwc.debrief.core"
   name="Debrief Core"
   version="1.0.0"
   provider-name="MWC"
   class="org.mwc.debrief.core.CorePlugin">

   <runtime>
      <library name="debrief_core.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Debrief Plot Editor"
            extensions="xml,rep"
            icon="icons/sample.gif"
            class="org.mwc.debrief.core.editors.PlotEditor"
            id="org.mwc.debrief.core.editors.PlotEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.mwc.debrief.core.DebriefCategory"
            name="Debrief"/>
   </extension>   
  
   
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.mwc.cmap.plotViewer"/>
      <import plugin="org.mwc.cmap.core"/>
      <import plugin="org.mwc.cmap.legacy"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.mwc.debrief.legacy"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.debug.core"/>
      
   </requires>
   <extension-point id="DebriefPlotLoader" name="Plot Loader" schema="schema/DebriefPlotLoader.exsd"/>
   <extension
         point="org.mwc.debrief.core.DebriefPlotLoader">
      <loader
            class="org.mwc.debrief.core.loaders.ReplayLoader"
            extensions="rep"
            name="ReplayLoader"/>
   </extension>
   <extension
         point="org.mwc.debrief.core.DebriefPlotLoader">
      <loader
            class="org.mwc.debrief.core.loaders.XMLLoader"
            extensions="xml"
            name="Debrief XML Loader"/>
   </extension>



</plugin>
