<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.mwc.cmap.plotViewer"
   name="Plot Viewer"
   version="1.0.29"
   provider-name="MWC"
   class="org.mwc.cmap.plotViewer.PlotViewerPlugin">

   <runtime>
      <library name="plotViewer.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.mwc.cmap.legacy"/>
      <import plugin="org.mwc.cmap.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.mwc.cmap.plotViewer.CMAP"
            name="CMAP"/>
   </extension>

</plugin>
