<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


     <extension-point id="RightClickSupport" name="RightClickSupport" schema="schema/RightClickSupport.exsd"/>
   

  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           id="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           name="Maritime Analysis"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="org.mwc.cmap.core.preferences.CMAPPreferenceInitializer"/>
  </extension>
    <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.mwc.cmap.core.preferences.ChartPrefsPage"
           id="org.mwc.cmap.core.preferences.ChartPrefsPage"
           category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           name="Chart backdrops"/>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.mwc.cmap.core.preferences.VPFPrefsPage"
           id="org.mwc.cmap.core.preferences.VPFPrefsPage"
           category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           name="VPF Data storage"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="org.mwc.cmap.core.preferences.VPFPreferenceInitializer"/>
  </extension>
  
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.mwc.cmap.core.preferences.ETOPOPrefsPage"
           id="org.mwc.cmap.core.preferences.ETOPOPrefsPage"
           category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           name="ETOPO Data storage"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="org.mwc.cmap.core.preferences.ETOPOPreferenceInitializer"/>
  </extension>
  
  
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.mwc.cmap.core.preferences.WMFExportPrefsPage"
           id="org.mwc.cmap.core.preferences.WMFExportPrefsPage"
           category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           name="WMF Export directory"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="org.mwc.cmap.core.preferences.WMFExportPreferenceInitializer"/>
  </extension>
  
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.mwc.cmap.core.preferences.CoastlineSourcePrefsPage"
           id="org.mwc.cmap.core.preferences.CoastlineSourcePrefsPage"
           category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
           name="Coastline file location"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="org.mwc.cmap.core.preferences.CoastlineSourcePreferenceInitializer"/>
  </extension>  
  
	<extension point="org.eclipse.core.runtime.preferences">
	 	<initializer class="org.mwc.cmap.gridharness.PreferenceInitializer"/>
	 </extension>
	 
   <extension point="org.eclipse.ui.preferencePages">
      <page
            name="Formatting"
            class="org.mwc.cmap.gridharness.LocationFormatPreferencePage"
           category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
            id="org.mwc.cmap.core.preferences.LocationFormatPreferencePage">
      </page>
   </extension>  
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.mwc.cmap.core"
           name="New CMAP Files"/>
  </extension>      

     <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.mwc.cmap.plotViewer.CMAP"
            class="org.mwc.cmap.core.editor_views.PolygonEditorView"
            icon="icons/document_chart.png"
            id="org.mwc.cmap.core.editor_views.PolygonEditorView"
            name="Path editor">
      </view>
   </extension>  
   
      <extension
         point="org.eclipse.ui.views">
   </extension>

   <extension
         point="org.eclipse.ui.views">
         <view
         	class="org.mwc.cmap.core.property_support.lengtheditor.views.TestViewPart"
		    id="com.pml.lengtheditor.viewId"
		    name="Standard Lengths Test">
         </view>
   </extension>
   
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.mwc.cmap.core.preferences.CMAPPrefsPage"
            class="org.mwc.cmap.core.property_support.lengtheditor.preferences.LengthsLookupPreferencesPage"
            id="com.pml.lengtheditor.preferencesId"
            name="Standard array offsets">
      </page>
   </extension>
</plugin>
