<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.mwc.debrief.core.DebriefCategory"
            class="info.limpet.stackedcharts.ui.view.StackedChartsView"
            icon="icons/stacked-chart.png"
            id="info.limpet.StackedChartsView"
            name="Stacked Charts 2"
            restorable="true">
      </view>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Tactical Overview"
            id="org.mwc.debrief.limpet_integration.commands.category">
      </category>
      <command
            name="Show Tactical Overview"
            categoryId="org.mwc.debrief.limpet_integration.commands.category"
            id="org.mwc.debrief.limpet_integration.commands.showTacticalOverview">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.mwc.debrief.limpet_integration.commands.showTacticalOverview"
            class="org.mwc.debrief.limpet_integration.handlers.ShowTacticalOverview">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.mwc.cmap.tote.views.ToteView">
         <command
               commandId="org.mwc.debrief.limpet_integration.commands.showTacticalOverview"
               icon="icons/x_section.png"
               id="org.mwc.debrief.limpet_integration.toolbars.showTacticalOverview"
               tooltip="Show tactical overview">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="info.limpet.stackedcharts.ui.dataset_adapter">
      <adapter
            class="org.mwc.debrief.limpet_integration.adapter.DebriefStackedChartsAdapter">
      </adapter>
   </extension>
   <extension
         point="info.limpet.stackedcharts.ui.scatterset_adapter">
      <adapter
            class="org.mwc.debrief.limpet_integration.adapter.DebriefStackedChartsAdapter">
      </adapter>
   </extension>
   <extension
         point="info.limpet.stackedcharts.ui.dataset_adapter">
      <adapter
            class="org.mwc.debrief.limpet_integration.measured_data.MeasuredDataInStackedChartsAdapter">
      </adapter>
   </extension>
   <extension
         point="info.limpet.stackedcharts.ui.scatterset_adapter">
      <adapter
            class="org.mwc.debrief.limpet_integration.measured_data.MeasuredDataInStackedChartsAdapter">
      </adapter>
   </extension>
   <extension
         point="info.limpet.stackedcharts.ui.stacked_time_provider">
      <provider
            class="org.mwc.debrief.limpet_integration.measured_data.MeasuredDataInStackedChartsAdapter">
      </provider>
   </extension>
       <extension point="org.mwc.cmap.core.RightClickSupport">
        <helper class="org.mwc.debrief.limpet_integration.measured_data.MeasuredDataInStackedChartsAdapter"/>
    </extension>
   

</plugin>
