


H1
{
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold
}

.UpdatedDTG
{
	font-size : smaller;
	color : #A9A9A9;
	border-top-width : 0px;
	margin-top : 0;
	padding-top : 0;
	text-align : center;
}



Div.MediaObject
{
	text-align: center;
	border : #D3D3D3;
	}

th
{ 
     /* Table headers */ 
     font-family: sans-serif;
     color: white;
     background: gray;
}
	
Div.Figure Div.Caption
{
	text-align : center;
		display : inline;
		background-color : #F0F8FF;
		border : solid #D3D3D3;
}
	 
	 
Div.Figure
{
	margin-right : 5%;
	margin-left : 10%;
        float: rght;
	border : 3px outset;
	text-align : center;
	padding : 0px 10px 10px 10px;
	}
	
Div.VariableList
{
	margin-right : 5%;
	margin-left : 10%;	
}

Div.VariableList Span.Term
{
	font-weight : bolder;
}

Div.VariableList DD
{
padding : 0px 0px 0px 0px;	
margin : 0px 0px 0px 0px;	
}


Div.TOC, Div.LOT
{
	border : 1px solid Gray;
	background-color : #DCDCDC;
	font-siz : 8PT;
	padding: 6px;
}

Div.Toc p
{
	border-bottom: solid DARKSLATEGRAY 2px;
}

Div.TOC DL DT, Div.TOC DL DT A, Div.TOC DL DT A:Visited
{
	color : #BD6800;
	text-decoration : none;		
	font-weight: bold;
	font-family: sans-serif;
}

Div.SideBar
{
	background-color : #D3D3D3;
	border-style : solid;
	border-width : 1 1 1 1;
	border-color : #696969;
	float: right;
	width:45%;
	top: -30px;
	position:relative;
}

Div.Sidebar P
{
	margin: 3px;
	padding: 3px;
}

Div.Sect2
{
	padding-left : 40px;
}

/* highlight a filename */
TT.filename
{
	background-color: #E0E0D0;
	font-size:larger;
}

/* highlight computer output */
TT.computeroutput
{
	background-color: #E0E0D0;
	font-size:larger;
	border: 1px solid dimgray;
}

/** put in a line above each entry in the glossary, and make the terms stand-out */
Body.Glossary DT
{
	border-top : ridge 2;
	font-family: sans-serif
}

/* question hyperlinks */
I.glossterm
{
	cursor: help;
	text-decoration : none;
	font-weight: bold;
	font-style : normal;
	color : #F48020;
}

H1.Sect1
{
	color : Navy;
	background-image: url('images/backgnd_kword.gif'); 
}

H2.Sect2
{
	color : Navy;
	
	font-family : sans-serif;
	text-decoration : underline;
}


SPAN.Application
{
	font : bold  sans-serif;
	}

SPAN.guibutton
{
    FONT-WEIGHT: bold;
	font-family: arial;
	background-color : #DCDCDC;
}

SPAN.guilabel
{
    FONT-WEIGHT: bold;
	font : "Courier New", Courier, monospace;
}

DIV.Note
{
	border-left : 3px solid Gray;
	border-right-width : 3px;
	border-right-style : solid;
	border-right-color : Gray;
	background-color : #E6E6FA;

}

DIV.Tip
{
	border-left : 3px solid Gray;
	border-right-width : 3px;
	border-right-style : solid;
	border-right-color : Gray;
	background-color : White;
}


DIV.Caution
{
	border-left : 3px solid Gray;
	border-right-width : 3px;
	border-right-style : solid;
	border-right-color : Gray;
	background-color : #FFE4E1;
}

DIV.Warning
{
	border-left : 3px solid Gray;
	border-right-width : 3px;
	border-right-style : solid;
	border-right-color : Gray;
	background-color : #FFFACD;
}



UNKNOWN
{
    FONT-WEIGHT: bold
}
QUESTION
{
    FONT-WEIGHT: bold
}
Code
{
    FONT-FAMILY: Courier-new;
    FONT-SIZ: 12pt
}
TD
{
    FONT-FAMILY: Georgia ;
    FONT-SIZ: 10pt
}
P
{
    FONT-FAMILY: Georgia ;
    FONT-SIZ: 10pt;
	margin-right : 5%;
	margin-left : 10%;
	line-height : 20px;
}
BODY
{
    background-image: url('images/backgnd.gif'); 
    background-repeat: repeat
    FONT-FAMILY: Georgia ;
    FONT-SIZE: smaller;
	margin-left: 10px;
	
}

A:hover
{
    BACKGROUND-COLOR: silver
}
/* hyperlinks */
A:link {
	COLOR: #3260A1;
	font-weight : bold;
}
A:visited {
	COLOR: #3260A1;
		font-weight : bold;
}
A:active {
	COLOR: #cc8000;
		font-weight : bold;
}
A:hover {
	COLOR: #333333;
		font-weight : bold;
}

/* for the page title */
P.title
{
	FONT-SIZE: medium;
	FONT-WEIGHT: bold;
	FONT-FAMILY: "Trebuchet ms";
	color: #004080
}
/* for the page title */
P.subtitle
{
	FONT-SIZE: 14pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY: "Trebuchet ms";
	color: #004080
}
P.keyword
{
	FONT-SIZ: 12pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY: "Trebuchet ms";
	color: #004080
}
/* for the return to top page */
A.return
{
	color: #000080;
	TEXT-ALIGN: RIGHT
}
A.return:visited
{
}
/* to shade in the background for the right-hand column in a table which is outside the print range */
td.Keywords  
{ 
    background-image: url('images/backgnd_kword.gif'); 
}

Table
{
	border: 1px sold dimgray;
}

/* and the program listings (used for XML listing in ASSET user guide */
pre.programlisting
{
	fnt-size: larger;
	background-color : #f3f3f3;
	border: 1px solid #e3e3e3
}
