<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Net Asset Server"
            icon="icons/sample.gif"
            category="org.mwc.asset.core.simulation.category"
            class="org.mwc.asset.netassetserver.views.ServerView"
            id="org.mwc.asset.netassetserver">
      </view>
   </extension>

</plugin>
