<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.mwc.debrief.help.cheat_general"
            name="General"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_started"
            name="Getting started"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheats"
            name="Debrief"/>
      <category
            id="org.mwc.debrief.help.cheat_viewing"
            name="Viewing plots"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_formatting"
            name="Formatting plots"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_analysing"
            name="Analysing Exercises"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_sensor"
            name="Sensor data"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_TMA"
            name="TMA data"
            parentCategory="org.mwc.debrief.help.cheats"/>
      <category
            id="org.mwc.debrief.help.cheat_buoys"
            name="Buoyfields"
            parentCategory="org.mwc.debrief.help.cheats"/>                                    
      <category
            id="org.mwc.debrief.help.cheat_narratives"
            name="Narratives"
            parentCategory="org.mwc.debrief.help.cheats"/>                                    
      <category
            id="org.mwc.debrief.help.cheat_maintaining"
            name="Maintaining Debrief"
            parentCategory="org.mwc.debrief.help.cheats"/>         
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_started"
            contentFile="cheat_sheets/GettingStarted/CreatePlot.xml"
            id="org.mwc.debrief.help.create_plot"
            name="Creating a new plot"/>
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_started"
            contentFile="cheat_sheets/GettingStarted/OpenPlot.xml"
            id="org.mwc.debrief.help.open_plot"
            name="Opening an existing plot"/>                                       
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_started"
            contentFile="cheat_sheets/GettingStarted/FindingYourData.xml"
            id="org.mwc.debrief.help.existing_data"
            name="Linking to existing datafiles"/>                                       
      <cheatsheet
            category="org.mwc.debrief.help.cheats/org.mwc.debrief.help.cheat_started"
            contentFile="cheat_sheets/GettingStarted/GenerateProject.xml"
            id="org.mwc.debrief.help.generate_project"
            name="Generating a project"/>                                       
   </extension>


</plugin>
