/ne_10m_admin_0_boundary_lines_land.README.html
/ne_10m_admin_0_boundary_lines_land.VERSION.txt
/ne_10m_admin_0_boundary_lines_land.cpg
/ne_10m_admin_0_boundary_lines_land.dbf
/ne_10m_admin_0_boundary_lines_land.prj
/ne_10m_admin_0_boundary_lines_land.shp
/ne_10m_admin_0_boundary_lines_land.shx
