<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="ASSET Plot Editor"
            extensions="xml"
            icon="icons/components.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.mwc.asset.scenarioplotter.editors.ASSETPlotEditor"
            id="org.mwc.asset.ASSETPlotEditor">
	      <contentTypeBinding
	         contentTypeId="org.mwc.asset.contenttype.ScenarioFile">
	      </contentTypeBinding>            
	      <contentTypeBinding
	         contentTypeId="org.mwc.asset.contenttype.ControlFile">
	      </contentTypeBinding>            
      </editor>
   </extension>

</plugin>
