<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Scenario controller"
            icon="icons/gears_run.png"
            category="org.mwc.asset.core.simulation.category"
            class="org.mwc.asset.scenariocontroller2.views.ScenarioControllerView"
            id="org.mwc.asset.ScenarioController2">
      </view>
   </extension>

</plugin>
